body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin-right: 10%;
    margin-left: 10%
}

/*Barra header menú fija*/
/* Tu CSS existente aquí */

/* Modificación para el encabezado */
.cabezal {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1c1c1c;
    width: 100%;
    padding: 2%;
    z-index: 10;
}

.header-left {
    display: flex;
    align-items: center;
}

.header-right {
    display: flex;
    align-items: center;
}

.cabezal a {
    font-size: large;
    font-family: 'Chalkduster', 'Dancing Script', 'Courier New', Courier, monospace;
    color: #a0d09d;
    cursor: pointer;
}

header a img {
    width: 50px;
    height: 50px;
}


/* Estilos generales para todas las columnas */

p strong{
    color: #a0d09d;
}

.titulo{
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    display: flex;
    justify-content: center;
    align-items: center;

}
.titulo h2{
    letter-spacing: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#35b92e;
}

.titulo-blanco{
    letter-spacing: 16px;
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.col {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #ccc;
    margin: 2%;
    padding: 2%;
    align-items: center;
}

h2 {
    color: #35b92e;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 1%;
}

.col img{
    
    width: 50%;
}


