body,
html {
    margin: 0;
    padding: 0;
}

hr {
    border: 0;
    border-top: 2px solid #ccc;
    margin-right: 10%;
    margin-left: 10%
}

.barras {
    --number-of-stripes: 4;
    --stripe-height: 12px;
    height: 50px;
    background-image: linear-gradient(rgb(200, 35, 55) 0%, rgb(200, 35, 55) 25%, rgb(224, 98, 54) 25%, rgb(224, 98, 54) 50%, rgb(215, 171, 97) 50%, rgb(215, 171, 97) 75%, rgb(47, 76, 121) 75%, rgb(47, 76, 121) 100%);
}

/*Barra header menú fija*/
.cabezal a:hover {
    text-decoration: none;
    color: #a0d09d;
}
header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #1c1c1c;
    width: 100%;
    padding: 2%;
    z-index: 10;
}

header.cabezal {
    position: relative;
}

.cabezal {
    display: flex;
}

.carrito,
.user {
    position: absolute;
}

.carrito {
    bottom: 10%;
    right: 10%;
}

.user {
    bottom: 10%;
    right: 5%;
}

.cabezal a {
    font-size: large;
    padding-left: 5%;
    font-family: 'Chalkduster', 'Dancing Script', 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #a0d09d;
    cursor: pointer;
}

header a img {
    width: 50px;
    height: 50px;
}

.elementos {
    background-color: #1c1c1c;
    color: #d4e1d3;
    margin-bottom: 0%;
    padding-top: 7%;
    padding-left: 3%;
}

.producto {
    padding: 15%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-bottom: 2%;
}

.producto img {
    max-width: 100%;
    height: auto;
}

/* Alinea el precio en la parte inferior */
.producto p:last-child {
    margin-top: auto;
}

aside {
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #1c1c1c;
    color: #d4e1d3;
}


.agregar-carrito{
    font-size: x-small;
    font-weight: bold;

}
button a {
    text-decoration: none;
    color: #1c1c1c;
    font-size: small;
    font-weight: bold;
}


button{
    background-color: #45493b;
    color: #00ffaa;
    transition: .5s, color .10s;
    -webkit-transition: .5s, color .10s;
    -moz-transition: .5s, color .10s;
    font-size: small;
    font-weight: bold;

}

button:hover{
    box-shadow: 0 8px 8px 0 #000000,0 8px 8px 0 #000000;
    transform: translate(0px,5px);
    -webkit-transform: translate(0px,5px);
    -moz-transform:translate(0px,5px);
}
              