body,
html {
    margin: 0;
    padding: 0;
    height: 100%;
}

/*Columnas general*/
.row {
    display: flex;
    flex-direction: row;
}

.row>h2 {
    padding-top: 3%;
    margin: 0% auto;
    color: #a0d09d;
}

/*Barra header menú fija*/

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    background-color: #1c1c1c;
    width: 100%;
    padding: 2%;
    z-index: 10;
}

header.cabezal {
    position: relative;
}

.cabezal {
    display: flex;
}

.carrito,
.user {
    position: absolute;
}

.carrito {
    bottom: 10%;
    right: 10%;
}

.user {
    bottom: 10%;
    right: 5%;
}

.cabezal a {
    font-size: large;
    padding-left: 5%;
    font-family: 'Chalkduster', 'Dancing Script', 'Courier New', Courier, monospace;
    text-decoration: none;
    color: #a0d09d;
    cursor: pointer;
}

header a img {
    width: 50px;
    height: 50px;
}

/* Estilos sobre nosotros y trabaja con nosotros */

.sobreNosotros,
.trabaja {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding-left: 6%;
    padding-bottom: 0%;
    padding-top: 0%;
}

.sobreNosotros-texto,
.trabaja-texto,
.trabaja-texto2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #ccc;
    padding-bottom: 0%;
    padding-top: 0%;
}




/* Estilos pie de página */
footer {
    width: 100%;
    position: relative;
    background-color: #333;
    color: #ccc;
}

p strong {
    color: #35b92e;
}

.FAQ-tittle {
    font-size: x-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    padding-left: 7%;
    padding-bottom: 5%;
}


.sobreNosotros-texto .col,
.trabaja-texto .col,
.trabaja-texto2 .col,
.FAQ-up .col,
.FAQ-down .col {
    padding-left: 2%;
    padding-right: 2%;
    padding-bottom: 2%;
    margin: 4% auto;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    color: #cccccc95;
}

.FAQ-up .col p {

}

.col .img-faq img {

}

.img-faq img {
    width: 70%;

}

/* Estilos resposive para footer*/

/* Estilos generales */

/* Estilos para pantallas de hasta 768px de ancho */
@media (max-width: 768px) {
    .row {
        flex-direction: column;
        /* Cambia la dirección de las filas a vertical */
    }

    .col {
        width: 80%;
        /* Ocupa todo el ancho disponible en pantallas pequeñas */
    }
}