body{
    background-color: #1c1c1c;
    
}

section {
    color:#d4e1d3 ;
    margin-bottom: 7%;
    padding-top: 7%;
    padding-left: 3%;
}

.producto {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: small;
    font-weight: bold;
    margin-bottom: 3%; /* Espacio entre los productos */
}

.producto img {
    
    max-width: 100%;
    height: auto;
}

/* Alinea el precio en la parte inferior */
.producto p:last-child {
    margin-top: auto;
}

aside{
    text-align: center;
    padding-top: 10%;
    padding-left: 2%;
    padding-right: 2%;
    background-color: #1c1c1c;
    color:#d4e1d3 ;
}
button{
    background-color: #d4e1d3;
    color:  #1c1c1c;
}

button a{
    text-decoration: none;
    color: #1c1c1c;
}
