h1{
    letter-spacing: 4px;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#35b92e;
    padding-bottom: 3%;
}

.titulo h2{
    letter-spacing: 16px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:#35b92e;
}
p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: #ccc;
}

ul{
    background-color: #a0d09d66;;
    margin-left: 0%;
}
li{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-large;
    color: #333;

}

.lara{
    margin: 5%;
}